<!doctype html>
<html lang="{{ metadata.language }}">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ title or metadata.title }}</title>
  <meta name="description" content="{{ description or metadata.description }}">
  <meta name="generator" content="{{ eleventy.generator }}">
  <link rel="me" href="https://mstdn.social/@cjerrington" />

  <link rel="stylesheet" href="{{ '/css/simple.min.css' | url }}">
  <link rel="stylesheet" href="{{ '/css/custom.css' | url }}">

  <link rel="alternate" href="{{ metadata.feed.path | url }}" type="application/atom+xml" title="{{ metadata.title }}">
  <link rel="alternate" href="{{ metadata.jsonfeed.path | url }}" type="application/json" title="{{ metadata.title }}">
  {% if process.env.ELEVENTY_RUN_MODE == 'build' -%}
  <script defer src="https://analytics.claytonerrington.com/script.js" data-website-id="6603df20-de18-4911-b9c4-f80942d2a374"></script>
  {% else %}
  <!-- This is a comment -->
  {%- endif %}
  
</head>

<body>
  <header>
    <nav>
      <ul>
        {%- for entry in collections.all | eleventyNavigation %}
        <li><a href="{{ entry.url | url }}">{{
            entry.title }}</a></li>
        {%- endfor %}
      </ul>
    </nav>

    <h1>{%- if title %}{{ title }}{%- else %}{{ metadata.title }}{%- endif %}</h1>
    <p>{% if description %}{{ description }}{% endif %}</p>
  </header>

  <main>
    {{ content | safe }}
  </main>

  <footer>
    <p><a href="/members">View Members</a> | <a href="/join">Join the Quest</a> | <a href="/acknowledgements">Acknowledgements</a></p>
    <p>Build with <a href="https://www.11ty.dev/">Eleventy</a> by <a href="https://claytonerrington.com">Clayton Errington</a></p>
  </footer>

</body>

</html>
