---
permalink: /assets/members.json
eleventyExcludeFromCollections: true
---
[
{%- for host in collections.members | orderedHosts %}
  {
    "host": "{{ host }}"
  {%- if loop.last %}
  }
  {%- else %}
  },
  {%- endif %}
{%- endfor %}
]